<header>
    <div>
        <h1>Home Page</h1>
    </div>
    <% if (user) { %>
        <div class="user-info">
            <img src="<%= user.ProfilePictureURL %>" alt="Profile picture">
            <p>User: <%= user.Name %></p>
            <p>Email: <%= user.Email %></p>
            <a href="/logout">Logout</a>
        </div>
    <% } else { %>
        <div class="login-prompt">
            <a href="/auth/google">Login with Google</a>
        </div>
    <% } %>
</header>
