<div>   

    <div class="add-card">
        <select id="columnSelector">
            <option value="todoColumn">To Do</option>
            <option value="inProgressColumn">In Progress</option>
            <option value="doneColumn">Done</option>
        </select>
        <button onclick="addNewCard()">Add Card</button>
    </div>

    <div id="board" class="board">
  
        <div class="column" id="todoColumn" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div class="column-header">To Do</div>          
        </div>            
        <div class="column" id="inProgressColumn" ondrop="drop(event)" ondragover="allowDrop(event)">            
            <div class="column-header">In Progress</div>
        </div>
        <div class="column" id="doneColumn" ondrop="drop(event)" ondragover="allowDrop(event)">            
            <div class="column-header">Done</div>
        </div>
    </div>


</div>